{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				{{'userConnected'|trans}}
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">{{'logout'|trans}}</a>
			</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal">{{'msgPlease'|trans}}</h1>
		<label for="inputPseudo">Pseudo</label>
		<input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" autocomplete="username" required autofocus>
		<label for="inputPassword">Password</label>
		<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<button class="btn btn-lg btn-primary" type="submit">
			{{'login'|trans}}
		</button>
		<a class="btn btn-lg btn-secondary" href="{{path('app_forgot_password_request')}}">
			{{'resset_pwd'|trans}}
		<a>
	</form>
{% endblock %}
