{% extends 'base.html.twig' %}

{% block title %}
	{{'register'|trans}}
{% endblock %}

{% block body %}
		{% include "flash.html.twig" %}


	<section class="container">
		<div class="row">
			<div class="col-9 mx-auto">


				<h1>{{'register'|trans}}</h1>

				{{ form_errors(registrationForm) }}

				{{ form_start(registrationForm) }}

				{{ form_row(registrationForm.pseudo) }}

				{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
				<div>
					{{ form_row(registrationForm.firstName) }}
					{{ form_row(registrationForm.lastName) }}
					{{ form_row(registrationForm.email) }}
					{{ form_row(registrationForm.phoneNumber) }}

				</div>
				<div>

					{{ form_row(registrationForm.birthday) }}
					{{ form_row(registrationForm.avatar) }}

					{{ form_row(registrationForm.RGPDConsent) }}

					<button type="submit" class="btn btn-success">{{'register'|trans}}</button>

					{{ form_end(registrationForm) }}
				</div>
			</div>
		</div>
	</section>

{% endblock %}
