{% extends 'base.html.twig' %}

{% block title %}
	Modification du profil
{% endblock %}

{% block body %}
	{% include "flash.html.twig" %}


	<section class="container">
		<div class="row">
			<div class="col-9 mx-auto">


				<h1>Modification du profil</h1>

				{{ form_errors(editProfilType) }}

				{{ form_start(editProfilType) }}

				{{ form_row(editProfilType.pseudo) }}


				<div>
					{{ form_row(editProfilType.firstName) }}
					{{ form_row(editProfilType.lastName) }}
					{{ form_row(editProfilType.email) }}
					{{ form_row(editProfilType.phoneNumber) }}

				</div>
				<div>

					{{ form_row(editProfilType.birthday) }}
					<div> Avatar Actuel
						{% if oldAvatar!=null %}
							<img style="max-width: 100px" src="{{ asset('images/avatars/' ~ oldAvatar) }}" alt="Avatar de l'utilisateur">
						{% else %}
							<img src="{{ asset('images/avatars/images.png') }}" alt="Avatar de l'utilisateur">
						{% endif %}
						{{ form_row(editProfilType.avatar) }}
					</div>


					<button type="submit" class="btn btn-success">Modifier</button>

					{{ form_end(editProfilType) }}
				</div>
			</div>
		</div>
	</section>

{% endblock %}
